@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ultify-blue: #37b5ff;
  --ultify-grey: #e9ecef;
  --ultify-dark-grey: #2B2A2A; /* New dark grey color */
  --ultify-white: #ffffff;
}

.text-ultify-blue {
  color: var(--ultify-blue);
}

.bg-ultify-grey {
  background-color: var(--ultify-grey);
}

.bg-ultify-dark-grey {
  background-color: var(--ultify-dark-grey);
}

.carousel-container {
  background-color: transparent !important;
}